# Prerequisites
*.d

**/*.o
webserv
.vscode/


#tests 
spawnTest
fastcgi_tests
integration_tests
tests/fastcgi_tests
tests/integration_tests
tests/spawnTest

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
